$mobileQuery: "only screen and (max-width: 700px)";
$mediumQuery: "only screen and (max-width: 850px)";

$brandBlue: #65cfe5;
$darkBlue: #0a3b45;
$offWhite: #e7f2f5;
$actionGreen: #2ebc4f;
$darkGray: #818687;
$lightGray: lighten($darkGray, 20);
$almostBlack: #1c1e21;
$inputGray: #fafbfc;

$navBottomMargin: 60px;
